In [1]:
import pandas as pd

In [49]:
df=pd.read_csv("homeprices.csv")

In [50]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [32]:
dumy=pd.get_dummies(df.town)

In [33]:
df=pd.concat([df,dumy],axis='columns')

In [36]:
df=df.drop(['town'],axis='columns')

In [39]:
df.columns

Index(['area', 'price', 'monroe township', 'robinsville', 'west windsor'], dtype='object')

In [38]:
from sklearn.linear_model import LinearRegression

In [40]:
model=LinearRegression()
model.fit(df[['area', 'monroe township', 'robinsville', 'west windsor']],df['price'])

LinearRegression()

In [44]:
 model.predict([[2800,0,1,0]])

/Users/shashank.gupta/test/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.6396474])

In [65]:
df2=pd.read_csv("carprices.csv")

In [66]:
dumy=pd.get_dummies(df2["Car Model"])

In [67]:
df2=pd.concat([df2,dumy],axis='columns')

In [70]:
df2=df2.drop(["Car Model"],axis=1)

In [73]:
from sklearn.linear_model import LogisticRegression

In [88]:
# model2=LogisticRegression()
model2=LinearRegression()

In [89]:
model2.fit(df2[['Mileage', 'Age(yrs)', 'Audi A5', 'BMW X5',
       'Mercedez Benz C class']],df2["Sell Price($)"])

LinearRegression()

In [98]:
model2.predict([[6000,2,0,1,0]])

/Users/shashank.gupta/test/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([47352.77882132])